@font-face {
  font-family: 'icomoon';
  src:  url('../../fonts/icomoon.eot?3uidj8');
  src:  url('../../fonts/icomoon.eot?3uidj8#iefix') format('embedded-opentype'),
    url('../../fonts/icomoon.ttf?3uidj8') format('truetype'),
    url('../../fonts/icomoon.woff?3uidj8') format('woff'),
    url('../../fonts/icomoon.svg?3uidj8#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-google:before {
  content: "\e900";
}
.icon-twitter:before {
  content: "\e901";
}
.icon-facebook:before {
  content: "\e902";
}
.icon-linkedin:before {
  content: "\e903";
}
.icon-arrow-left:before {
  content: "\e904";
}
.icon-arrow-right:before {
  content: "\e905";
}
.icon-mailbox:before {
  content: "\e906";
}
.icon-print:before {
  content: "\e907";
}
.icon-whatsapp:before {
  content: "\e908";
}
.icon-check:before {
  content: "\f00c";
}
.icon-question-circle:before {
  content: "\f059";
}
.icon-info-circle:before {
  content: "\f05a";
}
.icon-close:before {
  content: "\e909";
}
.icon-checkmark:before {
  content: "\e90a";
}
