<table cellpadding="0" cellspacing="0" border="0" align="center" bgcolor="#FFFFFF" width="100%" style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; margin: 0; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-bottom: 0px; padding: 15px 0px;">
	<tr>
		<td align="center" valign="middle" style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; margin: 0; font-family: Arial, sans-serif; padding: 0px 10px; border-collapse: collapse;" bgcolor="#FFFFFF" class="coll l-padding">
			<table cellpadding="0" cellspacing="0" border="0" align="right" style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; padding: 0; margin: 0; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%; border: 0px;" width="100%">
				<tr>
					<td valign="middle" style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; padding: 0; margin: 0; font-family: Arial, sans-serif; border-collapse: collapse;" bgcolor="#FFFFFF" class="l-padding">
						A adipisci beatae deleniti dicta eum exercitationem. Lorem ipsum dolor sit amet, consectetur adipisicing elit Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>