<table align="center">
	<tbody>
		<tr>
			<td align="center" valign="middle" class="coll " style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; padding: 0; margin: 0; border-collapse: collapse;">
				<table cellpadding="0" cellspacing="0" border="0" align="center" bgcolor="#5f293d" width="100%" style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; padding: 0; margin: 0; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-bottom: 0px; border: 0px;">
					<tr>
						<td align="left" valign="middle" class="coll" bgcolor="#5f293d" style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; padding: 0; margin: 0; border-collapse: collapse;">
							<table cellpadding="0" cellspacing="0" border="0" align="center" bgcolor="#5f293d" style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; padding: 0; margin: 0; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-bottom: 0px; width: 100%; max-width: 90px;" width="100%">
								<tr>
									<td align="center" valign="top" class="coll " bgcolor="#5f293d" style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; padding: 0; margin: 0; border-collapse: collapse; height: 100%;">
										<img style="padding: 10px;" src="https://previneo-homolog.s3.sa-east-1.amazonaws.com/front/1535044826387.png"
											 alt="Pulmão" width="50" border="0" style="border: 0; height: auto; outline: none; text-decoration: none; max-width: 100%; -ms-interpolation-mode: bicubic;">
										<br/>
										<font color="#FFFFFF">
											<strong style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;font-family: Arial; undefined: sans-serif; font-size: 15px;">Pulmão</strong>
											<br>
										</font>
									</td>
								</tr>
							</table>
						</td>
						<td valign="middle" bgcolor="#5f293d" class="coll" style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; padding: 0; margin: 0; border-collapse: collapse;">
							<table cellpadding="0" cellspacing="0" border="0" bgcolor="#5f293d" style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; padding: 0; margin: 0; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-bottom: 0px; width: 100%; " width="100%">
								<tr>
									<td valign="middle" style="text-align: justify; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; margin: 0; font-family: Arial; undefined: sans-serif; font-size: 15px;  padding-left: 10px; padding-right: 10px; padding-bottom: 10px;  border-collapse: collapse;" bgcolor="#5f293d" class="">
										<font color="#FFFFFF"><br>Você apresenta um risco mais elevado para desenvolvimento de câncer de pulmão em comparação à população em geral.<br><br>Isso significa que seu risco para desenvolvimento de câncer de pulmão é maior do que o risco usualmente encontrado para pessoas da mesma idade e condição de saúde. Lembramos que a análise obtida calcula o risco, ou seja, a probabilidade de desenvolvimento da doença. O resultado não é um diagnóstico médico, mas apenas uma forma de estimar probabilidades.<br><br>A literatura médica recomenda que pessoas com risco aumentado para desenvolvimento desta doença busquem acompanhamento por um médico especialista em pneumologia. É ele que poderá avaliar sua condição de saúde, os riscos reais de desenvolvimento da doença e maneiras de prevenção, no que se inclui a realização de exames preventivos.<br><br>
											<strong>Observamos que você fuma. O tabagismo é um dos principais responsáveis por inúmeros tipos de câncer, incluindo o câncer de pulmão. Recomendamos que você pare de fumar.</strong>
										</font>
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</tbody>
</table>
