<table align="center">
	<tbody>
		<tr>
			<td align="center" valign="middle" class="coll " style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; padding: 0; margin: 0; border-collapse: collapse;">
				<table cellpadding="0" cellspacing="0" border="0" align="center" bgcolor="#39acb5" width="100%" style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; padding: 0; margin: 0; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-bottom: 0px; border: 0px;">
					<tr>
						<td align="left" valign="middle" class="coll" bgcolor="#39acb5" style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; padding: 0; margin: 0; border-collapse: collapse;">
							<table cellpadding="0" cellspacing="0" border="0" align="center" bgcolor="#39acb5" style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; padding: 0; margin: 0; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-bottom: 0px; width: 100%; max-width: 90px;" width="100%">
								<tr>
									<td align="center" valign="top" class="coll " bgcolor="#39acb5" style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; padding: 0; margin: 0; border-collapse: collapse; height: 100%;">
										<img style="padding: 10px;" src="https://previneo-homolog.s3.sa-east-1.amazonaws.com/front/1535044782353.png"
											 alt="Próstata" width="50" border="0" style="border: 0; height: auto; outline: none; text-decoration: none; max-width: 100%; -ms-interpolation-mode: bicubic;">
										<br/>
										<font color="#FFFFFF">
											<strong style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;font-family: Arial; undefined: sans-serif; font-size: 15px;">Próstata</strong>
											<br>
										</font>
									</td>
								</tr>
							</table>
						</td>
						<td valign="middle" bgcolor="#39acb5" class="coll" style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; padding: 0; margin: 0; border-collapse: collapse;">
							<table cellpadding="0" cellspacing="0" border="0" bgcolor="#39acb5" style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; padding: 0; margin: 0; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-bottom: 0px; width: 100%; " width="100%">
								<tr>
									<td valign="middle" style="text-align: justify; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; margin: 0; font-family: Arial; undefined: sans-serif; font-size: 15px;  padding-left: 10px; padding-right: 10px; padding-bottom: 10px;  border-collapse: collapse;" bgcolor="#39acb5" class="">
										<font color="#FFFFFF"><br>Você não apresenta risco aumentado de câncer próstata.<br><br>
                      Isso significa que seu risco encontra-se dentro da média para sua idade e condições de saúde na data de preenchimento da anamnese e de acordo com os dados que você preencheu.<br><br>
                      Para a prevenção específica de próstata, a literatura médica indica a pacientes do sexo masculino, após completar 50 anos, consultar um urologista pelo menos a cada 2 anos.<br><br>
                      <strong>Observamos que você possui mais de 50 anos e faz mais de 2 anos que não consulta um urologista. Recomendamos que consulte um urologista.</strong>
										</font>
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</tbody>
</table>
<br>
