<table align="center">
	<tbody>
		<tr>
			<td align="center" valign="middle" class="coll " style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; padding: 0; margin: 0; border-collapse: collapse;">
				<table cellpadding="0" cellspacing="0" border="0" align="center" bgcolor="#bfa66c" width="100%" style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; padding: 0; margin: 0; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-bottom: 0px; border: 0px;">
					<tr>
						<td align="left" valign="middle" class="coll" bgcolor="#bfa66c" style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; padding: 0; margin: 0; border-collapse: collapse;">
							<table cellpadding="0" cellspacing="0" border="0" align="center" bgcolor="#bfa66c" style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; padding: 0; margin: 0; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-bottom: 0px; width: 100%; max-width: 90px;" width="100%">
								<tr>
									<td align="center" valign="top" class="coll " bgcolor="#bfa66c" style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; padding: 0; margin: 0; border-collapse: collapse; height: 100%;">
										<img style="padding: 10px;" src="https://previneo-homolog.s3.sa-east-1.amazonaws.com/front/1535044708277.png"
											 alt="Cólon" width="50" border="0" style="border: 0; height: auto; outline: none; text-decoration: none; max-width: 100%; -ms-interpolation-mode: bicubic;">
										<br/>
										<font color="#FFFFFF">
											<strong style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;font-family: Arial; undefined: sans-serif; font-size: 15px;">Cólon</strong>
											<br>
										</font>
									</td>
								</tr>
							</table>
						</td>
						<td valign="middle" bgcolor="#bfa66c" class="coll" style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; padding: 0; margin: 0; border-collapse: collapse;">
							<table cellpadding="0" cellspacing="0" border="0" bgcolor="#bfa66c" style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; padding: 0; margin: 0; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-bottom: 0px; width: 100%; " width="100%">
								<tr>
									<td valign="middle" style="text-align: justify; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; margin: 0; font-family: Arial; undefined: sans-serif; font-size: 15px;  padding-left: 10px; padding-right: 10px; padding-bottom: 10px;  border-collapse: collapse;" bgcolor="#bfa66c" class="">
										<font color="#FFFFFF"><br>Você não apresenta risco aumentado de câncer de intestino.<br><br>
                      O resultado é fundamentado nos chamados “fatores de risco conhecidos” e que, uma vez existentes, aumentam a estimativa de risco de desenvolvimento da doença. Nosso trabalho é embasado na literatura médica e, pelas suas respostas na anamnese, não se identifica nenhum fator conhecido para aumento do risco.<br><br>
                      Isso significa que seu risco de desenvolvimento dos tipos de câncer avaliados encontra-se dentro da média para sua idade e condições de saúde na data de preenchimento da anamnese e de acordo com os dados que você preencheu. Lembramos que a análise obtida calcula o risco, ou seja, a probabilidade de desenvolvimento da doença. O resultado não é um diagnóstico médico, mas apenas uma forma de estimar probabilidades.<br><br>
                      Para a prevenção específica de câncer de intestino, a literatura médica indica a pacientes do sexo masculino pesquisa de sangue oculto nas fezes anualmente, a partir dos 45 anos.<br><br>
                      <strong>Observamos que seu último exame para rastreamento de câncer de intestino foi há mais de 1 ano. Recomendamos que realize a pesquisa de sangue oculto nas fezes.</strong>
										</font>
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</tbody>
</table>
<br>
