<table align="center">
	<tbody>
		<tr>
			<td align="center" valign="middle" class="coll " style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; padding: 0; margin: 0; border-collapse: collapse;">
				<table cellpadding="0" cellspacing="0" border="0" align="center" bgcolor="#b72221" width="100%" style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; padding: 0; margin: 0; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-bottom: 0px; border: 0px;">
					<tr>
						<td align="left" valign="middle" class="coll" bgcolor="#b72221" style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; padding: 0; margin: 0; border-collapse: collapse;">
							<table cellpadding="0" cellspacing="0" border="0" align="center" bgcolor="#b72221" style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; padding: 0; margin: 0; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-bottom: 0px; width: 100%; max-width: 90px;" width="100%">
								<tr>
									<td align="center" valign="top" class="coll " bgcolor="#b72221" style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; padding: 0; margin: 0; border-collapse: collapse; height: 100%;">
										<img style="padding: 10px;" src="https://previneo-homolog.s3.sa-east-1.amazonaws.com/front/1535044849810.png"
											 alt="Útero" width="50" border="0" style="border: 0; height: auto; outline: none; text-decoration: none; max-width: 100%; -ms-interpolation-mode: bicubic;">
										<br/>
										<font color="#FFFFFF">
											<strong style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;font-family: Arial; undefined: sans-serif; font-size: 15px;">Útero</strong>
											<br>
										</font>
									</td>
								</tr>
							</table>
						</td>
						<td valign="middle" bgcolor="#b72221" class="coll" style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; padding: 0; margin: 0; border-collapse: collapse;">
							<table cellpadding="0" cellspacing="0" border="0" bgcolor="#b72221" style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; padding: 0; margin: 0; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-bottom: 0px; width: 100%; " width="100%">
								<tr>
									<td valign="middle" style="text-align: justify; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; margin: 0; font-family: Arial; undefined: sans-serif; font-size: 15px;  padding-left: 10px; padding-right: 10px; padding-bottom: 10px;  border-collapse: collapse;" bgcolor="#b72221" class="">
										<font color="#FFFFFF"><br>Você não apresenta risco aumentado de câncer de útero.<br><br>O resultado é fundamentado nos chamados “fatores de risco conhecidos” e que, uma vez existentes, aumentam a estimativa de risco de desenvolvimento da doença.<br><br>Para a prevenção específica de câncer de útero, a literatura médica indica a pacientes do sexo feminino, após completar 25 anos, e se já teve relações sexuais, realizar exame preventivo papanicolau a cada pelo menos 3 (três) anos.<br><br>
                      <strong>Observamos que você tem mais de 25 anos de idade e seu último exame preventivo foi há mais de 3 anos. Recomendamos que realize seu exame preventivo.</strong>
										</font>
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</tbody>
</table>
<br>
